---
import BaseLayout from '@/layouts/BaseLayout.astro';
import { Button } from "@/components/ui/button";
---

<BaseLayout>
    <div class="py-16 space-y-6">
        <h1 class="text-4xl font-normal">Astro</h1>

        <p class="text-base">
            Web de Kiosq POS
        </p>

        <Button className="font-mono font-normal">REQUEST A DEMO</Button>
    </div>
</BaseLayout>
