---
import '../styles/global.css';
import Navbar from '../components/Navbar.astro';

interface Props {
  title?: string;
  // Set to true to ignore max-width and cover full screen
  fullWidth?: boolean;
}

const { title = 'Kiosqo', fullWidth = false } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body>
    {fullWidth ? (
      <main class="min-h-screen">
        <slot />
      </main>
    ) : (
      <main class="min-h-screen">
        <div class="mx-auto px-(--spacing-container) sm:px-6 lg:px-8"
            style={`max-width: var(--container-width)`}>
           <Navbar /> 
          <slot />
        </div>
      </main>
    )}
  </body>
</html>
